@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;500;700&display=swap");

/* font-family: 'Poppins', sans-serif; */
* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}
body {
  background: rgb(240, 240, 240);
}
.navbar li,
.navbar a {
  font-weight: 500;
  font-size: 16px;
  color: black;
  text-decoration: none;
  padding: 5px;
  border-radius: 20px;
  /* border: black solid; */
}
.navbar li:hover {
  background-color: #8282e2;
  margin-right: 5px;
  margin-left: 5px;
  border-radius: 20px;
  transition: 0.2s;
}
.navbar a:hover {
  color: #fff;
}
.logo {
  width: 100%;
  height: 80px;
  margin-bottom: 10px;
}
header {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* border: black solid; */
  margin: 30px;
}
.navbar {
  display: flex;
  list-style: none;
  width: 100%;
}
hr {
  margin-top: 20px;
  border: 1.5px solid 8282e2;
  width: 95%;
}
#section2 {
  margin: 10px 4%;
  margin-top: 60px;
}
#section2 h2 {
  font-size: 32px;
}
.conteiner {
  display: flex;
  flex-direction: column;
}

.card {
  display: flex;
  background-color: #fff;
  padding: 10px;
  margin-bottom: 10px;
}
.conteiner a {
  color: black;
  text-decoration: none;
  /* border: black solid; */
}
.card p {
  text-align: justify;
  font-size: 12px;
}
.card h4 {
  font-size: 24px;
}
.card img {
  object-fit: cover;
  width: 260px;
  height: 175px;
  margin-right: 10px;
}
span {
  display: flex;
  line-height: 1;
  color: rgb(148, 148, 148);
  font-size: 12px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.fa-clock {
  margin-right: 5px;
}
.btn-read {
  margin-top: 12px;
  border-radius: 1.5em;
  font-size: 14px;
  padding: 0.8em 3em;
  background-color: #8282e2;
  color: #fff;
  cursor: pointer;
  border: none;
  transition: 0.25s all ease-in-out;
}
.btn-read:hover {
  transform: translateY(-5px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
.btn-read:active {
  transform: translateY(-1px);
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}
.page {
  left: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  width: 350px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 60px;
  clear: both;
}
.bunder {
  border-radius: 20px;
  /* height: 30px;
    width: 30px; */
  /* margin: 10px; */
  text-align: center;
  border: none;
  cursor: pointer;
}
.pinggir {
  font-size: 20px;
}
.pinggir,
.satu {
  background-color: #8282e2;
  margin: 15px;
  height: 30px;
  width: 30px;
}
.satu {
  color: white;
}
.angka {
  margin: 10px;
  transition: width 0.5;
}
.angka:hover {
  background-color: #8282e2;
  height: 30px;
  width: 30px;
  color: white;
}

.futer {
  margin-top: 70px;
  padding: 50px;
  background-color: rgb(65, 65, 65);
  height: 100%;
  clear: both;
}
.isi-futer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  /* border: solid black; */
}

.futer .nama-page img {
  width: 100%;
  height: 80px;
}
.listing ul li,
.listing a {
  /* margin-left: 100px; */
  color: #fff;
  list-style: none;
}
.isi-futer a {
  display: inline-block;
  position: relative;
  padding: 0;
  text-decoration: none;
}
.isi-futer a:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 3px;
  bottom: 0;
  left: 0;
  background-color: #8282e2;
  transform-origin: bottom right;
  transition: transform 0.4s ease-out;
}
.isi-futer a:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.listing li {
  padding: 5px;
}
.listing li:nth-child(1) {
  font-weight: 700;
  font-size: 24px;
  padding-bottom: 15px;
  padding-top: 0;
}
.cp-right {
  font-size: 12px;
  color: #fff;
  list-style: none;
  line-height: 180px;
}

/* Responsive HP Landscape */
@media screen and (max-width: 768px) {
  .card {
    flex-direction: column;
  }
  .card h4 {
    margin-top: 10px;
    margin-bottom: 5px;
  }
  .card img {
    margin-right: 0;
    width: auto;
  }
  span {
    margin-top: 0;
    margin-bottom: 10px;
  }
  .btn-read {
    display: none;
  }
  .isi-futer {
    flex-direction: column;
    align-items: flex-start;
  }
  .isi-futer .listing {
    margin-top: 20px;
  }
  .cp-right {
    margin: auto;
  }
}
/* Responsive HP Portrait */
@media screen and (max-width: 478px) {
  header {
    margin-left: 0;
    margin-right: 0;
  }
  hr {
    width: 85%;
  }
}
